// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXL: 956px;
$screenL: 696px;
$screenM: 540px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$textColor: #fff;
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'PT Sans Caption', sans-serif;