.footer
    padding: 20px 0 11px 0
    margin-top: 36px
    border-top: 1px solid rgba(0, 0, 0, 0.25)

    @media (max-width: $screenXL)
        margin-top: 46px

    .layout-positioner
        width: calc(100% - 30px)

    &__copyright
        padding-top: 18px
        float: left
        line-height: 18px
        font-size: 14px
        color: rgba(255, 255, 255, 0.3)

    &__logo
        float: right
        width: 57px
        height: 36px
        background-image: url("../images/svg/footer-logo.svg")
        background-repeat: no-repeat
        background-size: 57px 36px

        a
            display: block
            width: 100%
            height: 100%